# Build the site and deploy it to GitHub pages
name: Build

on:  # yamllint disable-line rule:truthy
  push:
    branches:
    - master
    - main
    - '*.*'
    - 'staging*'
  pull_request:
    branches:
    - master
    - main
    - '*.*'
    - 'staging*'

permissions:
  contents: write

jobs:
  build:
    name: Build and Deploy

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: true
    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
    - name: Install dependencies
      shell: bash
      run: ./ci/install.sh
    - name: Build site
      shell: bash
      run: ./ci/build.sh
    - name: Deploy to GitHub Pages
      if: (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master') && github.event_name == 'push'
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: ./build
